<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <style>
           .fig {
            text-align: center; /* Выравнивание по центру */ 
           }
        </style>
        <title>1st Lesson Inginirium</title>
    </head>
    <body>
        <h1>Pushkin</h1>
        <p>I like programming!</p>
        
    <!--   PICTURE IN THE CENTRE      -->
        <div class="fig"> 
            <img class="fig" src="/views/node.jpg">
        </div>
        
        <div style="text-align: center;"> 
            <img src="/views/node.jpg">
        </div>
        
        <p class="fig"> 
            <img src="/images/node.jpg">
        </p>
        
        <p style="text-align:center">
            <img src="/views/node.jpg">
        </p>
        
    </body>
</html>
